@import "tailwindcss";

@theme {
    --color-absolute-white: #fff;
    --color-absolute-black: #000;

    --color-purple-55: #4a2ced;
    --color-purple-60: #5e43ef;
    --color-purple-70: #8672f3;
    --color-purple-80: #aea1f7;
    --color-purple-90: #d6d0fb;
    --color-purple-95: #eae7fd;
    --color-purple-97: #f3f1fe;
    --color-purple-99: #fbfaff;

    --color-dark-03: #070708;
    --color-dark-06: #0e0e10;
    --color-dark-08: #131316;
    --color-dark-12: #1c1c21;
    --color-dark-15: #232329;
    --color-dark-20: #2f2f37;
    --color-dark-25: #3b3b45;
    --color-dark-30: #474752;

    --color-grey-40: #62646c;
    --color-grey-50: #797c86;
    --color-grey-70: #afb0b6;
    --color-grey-80: #cacace;
    --color-grey-90: #e4e4e6;
    --color-grey-95: #f2f2f3;
    --color-grey-97: #f7f7f8;
    --color-grey-99: #fcfcfd;

    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-hd: 1440px;
    --breakpoint-4k: 1920px;
}

.cont {
    @apply w-full px-4 hd:px-15.5 hd:max-w-[1440px] 4k:max-w-[1920px] 4k:px-65.5 mx-auto;
}

.section {
    @apply pt-[80px] hd:pt-[150px] 4k:pt-[200px];
}

.page__title {
    @apply text-[14px] md:text-[16px] 4k:text-[20px] uppercase text-grey-50 font-semibold;
}

.page__subtitle {
    @apply uppercase text-[26px] md:text-[48px] 4k:text-[58px] text-absolute-white;
}

.btn {
    @apply text-absolute-white text-[18px] font-medium bg-dark-12 px-[24px] py-[16px] rounded-[10px] cursor-pointer hover:scale-105 duration-400 active:scale-100 hover:text-purple-90;
}
.bar {
    @apply flex items-center justify-between pb-[20px] hd:pb-[40px] 4k:pb-[50px] border border-[1px] border-b-dark-12;
}

.arrow__wrap {
    @apply h-[82px] px-[10px] rounded-[100px] border border-dark-12 justify-center items-center gap-[16px];
}
.arrow {
    @apply w-[62px] h-[62px] flex items-center justify-center text-absolute-white rounded-[100%] bg-dark-12 text-[32px] hover:scale-105 cursor-pointer hover:text-purple-90 active:scale-100 duration-400;
}

.nav__link {
    @apply px-[40px] font-medium uppercase text-absolute-white h-[87px] flex items-center border border-[0.1px] border-dark-12 hover:bg-dark-12 duration-40 hover:text-purple-90;
}
.menu__link {
    @apply py-4 text-xl font-medium uppercase text-absolute-white duration-400;
}

@layer utilities {
    .animate-marquee {
        @apply will-change-transform;
        animation: scroll-marquee 40s linear infinite;
    }
}

@keyframes scroll-marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.decor__list {
    @apply flex gap-[10px] items-center;
}

.swiper-wrapper {
    @apply w-full;
}
.swiper-slide {
    @apply w-full max-w-full;
}

.text {
    @apply font-normal text-[18px] text-grey-70 md:text-[20px] 4k:text-[22px];
}

.web__link {
    @apply h-[250px] w-auto md:h-auto order-1 lg:order-2 lg:w-1/2 rounded-[20px] !block;
}
.web__img {
    @apply object-cover rounded-[20px] h-full w-full;
}

.gallery__img {
    @apply md:h-[428px] h-[310px] 4k:h-[519px] w-[100%] object-cover rounded-[20px] mx-auto;
}

.accordion {
    @apply p-[20px] mb-4 rounded-[20px] bg-dark-08 max-w-[1000px] mx-auto;
}

.accardion__title {
    @apply text-xl font-semibold cursor-pointer text-absolute-white;
}

.accordion__text {
    @apply mt-[30px] text-purple-90;
}

.wow-title {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #ab67ff;
    display: flex;
    gap: 0.1em;
    opacity: 0;
    transform: translateY(50px);
}
.wow-img {
    opacity: 0;
    transform: scale(0.7) translateY(60px);
    transition: box-shadow 0.3s;
}
.wow-img.gs-animated {
    box-shadow: 0 16px 60px #ab67ff55;
}
